<%= form_with model: @job, local: true do |j| %>
  <div class='mt-2'>
    <%= j.label :name %>
    <%= j.text_field :name, class:'form-control' %>
  </div>
  <div class='mt-2'> 
    <%= j.label :description %>
    <%= j.text_area :description, class:'form-control', style:'height: 250px' %>
  </div>
  <div class='mt-2'>
    <%= j.label :categories %>
    <%= j.select :categories, @categories, {prompt: '(no category)'}, { multiple: true, size: 5, class: 'form-select' } %>
  </div>
  <div class="mt-2">
    <%= j.label :Years_of_Experience %>
    <%= j.number_field :experience, in: 0..10, step: 1, class:'form-control'%>
  </div>
  <div class='mt-2'>
    <%= j.label :salary %>
    <%= j.number_field :salary, in: 6000..160000, step: 1000, class:'form-control' %>
  </div>
  <div class='mt-2'>
    <%= j.submit( @job.new_record? ? "Create Job post" : "Edit Job Post" , class:'btn', style:'background-color: gainsboro') %>
  </div>
<% end %>
<div class='mt-2'>
  <%= link_to("Cancel", @job.new_record? ? show_company_path(id: @company.id) : show_job_path(id: @company.id), class:'btn btn-secondary') %>
</div>