<div class='d-flex justify-content-center'>
  <div class="card col-md-8 mt-4 mb-4">
    <div class="card-header text-center">
      <h2> <%= image_tag(@company.logo, class:'circle-photo') if @company.logo.present?%> </h2>
      <h2> <%= @company.name %> </h2>
    </div>
    <div class="card-body ">
      <h4> <%= @job.name %> </h4>
      <p> <h6> Description: </h6> <%= @job.description %> </p> 
      <p> <h6> Required_experience: </h6> <%= @job.required_experience %> </p> 
      <p> <h6> Salary: ± </h6> <%= @job.salary %> </p> 
    </div>
    <div class="card-footer text-muted d-flex justify-content-center">
    <% if @company.user_id == Current.user.id %>
      <%= link_to "Edit Job Account", edit_job_path(id: @job.id), class:'btn btn-dark' %>
    <% else %>
      <%= link_to "Apply", '#', class:'btn btn-primary' %>
    <% end %>
    </div>
  </div>
</div>


