<div class='d-flex justify-content-center'>
  <div class="card col-md-8 mt-4 mb-4">
    <div class="card-header text-center">
      <h2> <%= image_tag(@company.logo, class:'circle-photo') if @company.logo.present?%> </h2>
      <h2> <%= @company.name %> </h2>
    </div>
    <div class="card-body row">
      <h4> <%= @job.name %> </h4>
      <div class='col-md-3'>
        <p> Description:  </p>
      </div>
      <div class='col-md-9'>
        <p> <%= @job.description %> </p>
      </div>
      <div class='col-md-3'>
        <p> Required_Experience: </p> 
      </div>
      <div class='col-md-9'>
        <p> <%= @job.required_experience %> years </p>
      </div>
      <div class='col-md-3'>
        <p> Salary:  </p>
      </div>
      <div class='col-md-9'>
        <p> <%= number_to_currency(@job.salary, :unit=>'R', :separator=>',', :delimiter =>' ') %> </p>
      </div>
      <% if @categories.present? %>
        <div class='col-md-3'>
          Categories: 
        </div>
        <div class='col-md-9'>
          <% @categories.each do |category| %>
            <%= category.name %>;
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="card-footer text-muted d-flex justify-content-center">
      <% if @company.user_id == Current.user.id %>
        <%= link_to "Edit Job", edit_job_path(id: @job.id), class:'btn btn-dark' %>
        <% if @enlistments.present? %>
          <%= turbo_stream_from "enlistments" %>
          <div id="enlistments">
            <%= render @enlistments %>
          </div>
        <% end %>
      <% else %>
        <% if @enlistments.blank? %>
          <%= link_to "Apply", create_application_path(job_id: @job.id), data:{turbo_method: :post}, class:'btn btn-primary' %>
        <% else %>
          <%= link_to "Remove Application", destroy_application_path(id: @enlistments.first.id), data:{turbo_method: :delete, turbo_confirm: "Un-Apply?"}, class:'btn', style:'background-color:red' %>
        <% end %>
      <% end %>
    </div>

  </div>
</div>

