
<h4> <%= @enlistment.name %> </h4>
<div class='d-flex align-items-center justify-content-center'>
  <div class='col-6'>
    <div class='row'>
      <div class='col-md-6 mt-4'>
        <h5> Job </h5>
        <p> <h6>  <%= @job.name %> </h6> </p>
        <p> recommended experience: <%= @job.required_experience %> years</p>
        <p> <%= @job.description %> </p>
      </div>
      <div class='col-md-6 mt-4'>
        <h5> User </h5>
        <p> <h6> <%= @applicant.name %> </h6> </p>
        <p> years of experience:  </p>
        <p style="text-align: justify"> <%= @applicant.cover_letter %> </p>
      </div>
      <div class="mb-2">
        <% if @profile.present? && @profile.cv.present? %>
          <%= link_to "CV of #{ @applicant.name }", url_for(@profile.cv), class:'sidepanel-text' %>
        <% end %>
      </div>
      <% if @enlistment.status != "interview" && @enlistment.status != "rejected" %>
        <%= link_to "Invite For Interview", invite_for_interview_path(id: @enlistment.id), data:{turbo_method: :post, turbo_confirm: "Invite #{@applicant.name} for interview"}, class:'btn btn-success mt-4' %>
        <div class='col-md-4 '></div>
        <%= link_to "Reject application", reject_applicant_path(id: @enlistment.id), data:{turbo_method: :post, turbo_confirm: "Reject #{@applicant.name}"}, class:'btn col-4 mt-4', style:'background-color: red;' %>
      <% else %>
        <% if @enlistment.status == "interview" %>
          <p style='color: green'> Invited <%= @applicant.name %> for Interview </p>
        <% elsif @enlistment.status == "rejected" %>
          <p style='color: red'> Rejected <%= @applicant.name %> for position </p>
        <% end %>
        <%= link_to "Reconsider", reconsider_applicant_path(id: @enlistment.id), data:{turbo_method: :post, turbo_confirm: "Set this status to pending"}, class:'btn btn-dark' %>
      <% end %>
      <p class='text-center'>
        <%= link_to "Back", show_company_path(id: @company.id), class:"btn btn-secondary mt-4 col-md-2" %>
      </p>
    </div>
  </div>
</div>

 