<h1> <%= @company.name %> </h1>
<div class='d-flex justify-content-center'>
  <div class="card col-md-8 mt-4 mb-4 post">
    <div class="card-header text-center">
      <h2> <%= image_tag(@company.logo, class:'circle-photo') if @company.logo.present?%> </h2>
    </div>
    <div class="card-body ">
      <div class='row'>
        <div class='col-md-6' style='text-align:right; padding-right: 67px'>
          <h5 class="card-title"> Name:      </h5>
          <h5 class="card-title"> Email:     </h5>
          <h5 class="card-title"> Location:  </h5>
          <h5 class="card-title"> Number Employees: </h5>
          <h5 class="card-title"> Categories </h5>
        </div>
        <div class='col-md-6'>
          <h5 class="card-title"> <%= @company.name  %> </h5>
          <h5 class="card-title"> <%= link_to @company.website, 'https://www.google.com', style:'text-decoration: none; color: black' %> </h5>
          <h5 class="card-title"> <%= @company.location %> </h5>
          <h5 class="card-title"> <%= @company.number_employees %> </h5>
          <h5 class="card-title">
            <% @categories.each do |category| %>
              <%= category.name %>; 
            <% end %> 
          </h5>
        </div>
      </div>
    </div>
    <div class="card-footer text-muted d-flex justify-content-center">
      <div class='row'>
        <div class='col-md-6'>
          <h5 class="card-title" style='text-align: right; padding-right:55px'> Description:      </h5>
        </div>
        <div class='col-md-5'>
          <h5 class="card-title"> <%= @company.description  %> </h5>
        </div>
      </div>
    </div>
  </div>
</div>
<% if @friendship.new_record? %>
  <%= link_to "Follow Company", follow_path(id: @company.user_id), class:'btn btn-primary', data:{turbo_method: :post} %>
<% else %>
  <%= link_to "Unfollow Company", unfollow_path(id: @company.user_id), class:'btn', style:'background-color: red; color:black', data:{turbo_method: :delete, turbo_confirm: "Unfollow?"} %>
<% end %>
<% if @company.user_id == Current.user.id %>
  <div>
    <%= link_to "Edit Company Account", edit_company_path(id: @company.id), class:'btn btn-dark' %>
    <%= link_to "Create Job Post", new_job_path(id: @company.id), class:'btn btn-secondary' %>
  </div>
  <div style='padding-top: 80px'>
    <% if @enlistments.present? %>
      <h3 class='mt-2 mb-3'> Applications </h3>
      <% @enlistments.each do |enlistment| %>
        <p> 
          <% if enlistment.status == "interview" %>
            <%= fa_icon "check" %> &nbsp
          <% elsif enlistment.status == "rejected" %>
            <%= fa_icon "times" %> &nbsp
          <% else %>
            <%= fa_icon "square-o" %> &nbsp
          <% end %>
          <%= link_to enlistment.name, review_application_path(id: enlistment.id), style:'color: black; text-decoration: none' %>
        </p>
      <% end %>
    <% end %>
  </div>
<% else %>
  <div style='padding-top: 150px'>
    <%= render 'mini_job_list' %>
  </div>
<% end %>