<div class='list-group'>
  <% jobs.each do |job| %>
    <%= link_to show_job_path(id: job.id), class:'list-group-item list-group-action-item mt-4 post' do %>
      <div class='row'>
        <div class='col-md-3'>
          <%= image_tag(job.photo, class:'small-circle-photo') if job.photo.present? %>
        </div>
        <div class='col-md-9'>
          <div class='row'>
            <div class='col-md-12'>
              <h6>    <%= job.name %> </h6>
              <small> <%= Company.find(job.company_id).name %> </small>
            </div>
            <div class='col-md-12'>
              <small>  <%= job.description.truncate(40) %> </small>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>