<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>You got invited to and interview <%= @user.name %>!</p>
    <p>
    Interview details<br>
    --------------------------
    </p>
    <p>Name:    <%= @user.name    %></p>
    <p>Job:     <%= @job.name     %></p>
    <p>Company: <%= @company.name %></p>
    <p>Date:    <%= Date.today+10.days  %></p>
    <br>

  </body>
</html>