<% if Current.user.present?%>
  <p> 
    <%= link_to show_user_path(id:Current.user.id), style:'color: black; text-decoration: none' do %>
      <%= fa_icon 'user' %> &nbsp My Profile 
    <% end %>
  </p>
<% end %>
<p> 
  <%= link_to '#', style:'color: black; text-decoration: none' do %>
    <%= fa_icon 'file-text' %> &nbsp Your Applications
  <% end %>
</p>
<p> 
  <%= link_to '#', style:'color: black; text-decoration: none' do %>
    <%= fa_icon 'gear' %> &nbsp Settings 
  <% end %>
</p>

<p>
  <%= link_to "Search", search_path, class:'btn btn-outline-light', style:'color:black' %>
</p>